

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets itérables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**Déclarer une liste vide.**

In [1]:
p=[]

#### **Exercice 01:** 
>**Déclarer une liste de plus de 5 éléments.**

In [5]:
w=[2,3,4,5,6,8,9]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [3]:
len(w)

6

#### **Exercice 03:** 
>**Obtenez le premier élément, l'élément central et le dernier élément de la liste.**

In [7]:
print(w[0], w[3], w[6])

2 5 9

#### **Exercice 04:** 
>**Déclarez une liste appelée mixed_data_types, mettez votre (nom, âge, taille, état civil, adresse).**

In [ ]:
mixed_data_types=["bonyo", 30, 5.8, "married", "57337"]

#### **Exercice 05:** 

    1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste à l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la première, la moyenne et la dernière entreprise

    5. Imprimez la liste après avoir modifié l'une des entreprises.

    6. Ajout d'une entreprise informatique à it_companies

    7. Insérer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une chaîne '# ; '.

    10. Vérifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la méthode sort()

    12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

    13. Supprimez les 3 premières entreprises de la liste.

    14. Supprimez les 3 dernières entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la première entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la dernière entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. Détruire la liste des entreprises informatiques

In [1]:
it_companies=["Facebook", "Google", " Microsoft", "Apple", "IBM","Oracle","Amazon"]
print(it_companies)

['Facebook', 'Google', ' Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [2]:

#3 Print the number of companies in the list
print(len(it_companies))

7

In [4]:
# 4 Print the first, middle and last company

print(it_companies[0],it_companies[int((len(it_companies)/2)-1)],it_companies[-1])

Facebook  Microsoft Amazon

In [5]:
# 5 print list after changing one of the companies
it_companies[2]="kaggle"
print(it_companies)

['Facebook', 'Google', 'kaggle', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [6]:
# 6. Adding an IT company to it_companies
it_companies.append("IT")
print(it_companies)

['Facebook', 'Google', 'kaggle', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT']

In [7]:
#7. Insert an IT company in the middle of the list of companies
it_companies.insert(int((len(it_companies)-1)/2),'IT')
print(it_companies)

['Facebook', 'Google', 'kaggle', 'IT', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT']

In [8]:
# 8. Change the name of one of the it_companies to uppercase (except IBM!)
it_companies.append("apple".upper())
print(it_companies)

['Facebook', 'Google', 'kaggle', 'IT', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT', 'APPLE']

In [22]:
#9. Join it_companies with a string '#; '.
x= '#'.join(it_companies)
print(x)

kaggle#Oracle#IBM#Google#Facebook#Apple#Amazon#APPLE

In [10]:
#10  Check if a certain company exists in the it_companies list.
if 'Google' in it_companies:
    print("the company exists")
else:
    print("the company do not exist")

the company exists

In [11]:
#11. Sort the list using the sort () method
it_companies.sort()
print(it_companies)

['APPLE', 'Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'IT', 'IT', 'Oracle', 'kaggle']

In [15]:
#12. Reverse the list in descending order using the reverse () method.
it_companies.reverse()
print(it_companies)

['kaggle', 'Oracle', 'IT', 'IT', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon', 'APPLE']

In [13]:
# 13. Remove the first 3 companies from the list...
del it_companies[0:3]
print(it_companies)

['Facebook', 'Google', 'IBM', 'IT', 'IT', 'Oracle', 'kaggle']

In [15]:
#14 remove the last 3 companies from the list
del it_companies [-3:]
print(it_companies)

['Facebook', 'Google', 'IBM', 'IT']

In [16]:
#15. Remove the IT company (s) from the middle of the list
del it_companies[int((len(it_companies)-1)/2)]
print(it_companies)

['Facebook', 'IBM', 'IT']

In [17]:
# 16. Remove the first it company from the list
del it_companies[0]
print(it_companies)

['IBM', 'IT']

In [35]:
# 17 Remove the IT company (s) from the middle of the list.
del it_companies[len(it_companies)//2-1]
print(it_companies)

['kaggle', 'IBM', 'Amazon', 'APPLE']

In [20]:
# 18.Remove the last IT company from the list
del it_companies[-1]
print(it_companies)

IndexError: list assignment index out of range

In [25]:
#
del it_companies[0:]
print(it_companies)

[]

In [26]:
# 20. Destroy the list of IT companies
it_companies.clear()
print(it_companies)

[]

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 âges d'étudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'âge minimum et maximum.
    2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
    3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
    4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
    4. Trouver l'intervalle des âges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

In [47]:
age=[19,22,19,24,20,25,26,24,25,24]

In [51]:
# 1. Sort the list and find the minimum and maximum age
age.sort()
print(age)
x=max(age)
y=min(age)
print(x)
print(y)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
26
19

In [53]:
# 2. Add the minimum age and maximum age to the list again.
age.extend([x,y])
print(age)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]

In [56]:
# 3. Find the median age (one element in the middle or two elements in the middle divided by two).
med=age[int((len(age)-1)/2)]
print(med)

24

In [58]:
# 4. Find the average age (sum of all items divided by their number)
s=0
for i in range(0,len(age)):
    s=s+age[i]
f=s/len(age)    
print(f)

22.75

In [59]:
# 4. Find the interval of ages (max minus min)
print(x,med,y)

26 24 19

In [60]:
# 5. Compare the values of (min - mean) and (max - mean) using the abs () method.
comp1=abs(y-med)
comp2=abs(x-med)
print(comp1)
print(comp2)

5
2

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Créer un dictionnaire vide appelé `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
7. Obtenez les clés du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
10. Supprimer un des éléments du dictionnaire
11. Supprimer un des dictionnaires

In [27]:
# 1 Create an empty dictionary called dog
dog={}
print(dog)

{}

In [28]:
# 2 Add name, color, breed, legs, age to the dog dictionary
dog['name']='Amour'
dog['color']='bristle'
dog['legs']=4
dog['breed']="german shepherd"
dog['age']=2
print(dog)

{'name': 'Amour', 'color': 'bristle', 'legs': 4, 'breed': 'german shepherd', 'age': 2}

In [38]:
# 3 Create a student dictionary and add the first name, last name, gender, age, marital status, skills, country, city and address as keys for the dictionary
student={}
student['first name']='lenah'
student['last name']='muema'
student['gender']='female'
student['age']='20'
student['marital status']='married'
student['skills']='statistis'
student['country']='Kenya'
student['city']='Nairobi'
print(student)

{'first name': 'lenah', 'last name': 'muema', 'gender': 'female', 'age': '20', 'marital status': 'married', 'skills': 'statistis', 'country': 'Kenya', 'city': 'Nairobi'}

In [30]:
# 4 Get the length of the student dictionary
len('student')

7

In [31]:
# 5 Get the skill value and check the data type, it should be a list.
print(student['skills'])

statistis

In [32]:
# 6 Change the skill values ​​by adding one or two skills.
student['skills']='modelling','research'
print(student)

{'first name': 'lenah', 'last name': 'muema', 'gender': 'female', 'age': '20', 'marital status': 'married', 'skills': ('modelling', 'research'), 'country': 'Kenya', 'city': 'Nairobi'}

In [33]:
# 7 Get dictionary keys as a list
print(student.keys())

dict_keys(['first name', 'last name', 'gender', 'age', 'marital status', 'skills', 'country', 'city'])

In [34]:
# 8  Get dictionary values ​​as a list
print(student.values())

dict_values(['lenah', 'muema', 'female', '20', 'married', ('modelling', 'research'), 'Kenya', 'Nairobi'])

In [35]:
# 9 Transform the dictionary into a list of tuples using the items metho
student.items()

dict_items([('first name', 'lenah'), ('last name', 'muema'), ('gender', 'female'), ('age', '20'), ('marital status', 'married'), ('skills', ('modelling', 'research')), ('country', 'Kenya'), ('city', 'Nairobi')])

In [42]:
# 10 Delete one of the dictionary items
del student ['age']
print(student)

{'first name': 'lenah', 'last name': 'muema', 'gender': 'female', 'marital status': 'married', 'skills': 'statistis', 'country': 'Kenya', 'city': 'Nairobi'}

In [43]:
# 11 Delete one of the dictionaries
dog

{'name': 'Amour',
 'color': 'bristle',
 'legs': 4,
 'breed': 'german shepherd',
 'age': 2}

In [44]:
dog.clear()

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS !🎉 </span> </b></center>